chatbot.json
{
  "createdAt": "2025-05-23T06:25:56.195Z",
  "updatedAt": "2025-06-16T07:54:16.000Z",
  "id": "LJCbQ0fdi9KzoSea",
  "name": "ChatBot",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "0183bfb3-e844-43c6-891c-e04c15dc4e0f",
              "leftValue": "={{ $('When chat message received').item.json.chatInput }}",
              "rightValue": "=hi",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        0
      ],
      "id": "23c2e5e9-320e-4664-9ad7-d320938bd37b",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a732c4ed-856f-4a6c-8d53-6ba74c892417",
              "name": "message",
              "value": "Hi Zainab! 😊",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1100,
        -100
      ],
      "id": "68063a0d-353f-4ed8-b54e-1229bde92810",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "44bb24b6-5335-4ad1-81cf-d1efef29c584",
              "name": "message",
              "value": "Hello Zainab! 😊",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1100,
        100
      ],
      "id": "572779d6-58dc-4bda-9549-661aef5b5f38",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -80,
        0
      ],
      "id": "7b8f4e39-f5d1-46a2-be5a-92ceeed7f003",
      "name": "When chat message received",
      "webhookId": "55beb1a0-f55e-4701-b42a-85e2dc79b2e5"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        140,
        0
      ],
      "id": "172e5a2e-3d17-419c-9b58-c0598995adc4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        40,
        220
      ],
      "id": "cb447b63-4c27-4cb3-ba0b-deb42559842b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "JFV8h8FLMK6dxzrL",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1320,
        -100
      ],
      "id": "30aafac0-e74a-4527-996a-4155926d17b4",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        240,
        220
      ],
      "id": "2d82a990-8661-4544-82d8-b272021a21e9",
      "name": "Simple Memory"
    }
  ],
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "e26fb056-1a64-4692-ab93-15e121b59f47",
  "triggerCount": 1,
  "tags": []
}