error-logger
{
  "createdAt": "2025-06-27T08:57:58.575Z",
  "updatedAt": "2025-06-27T09:19:37.000Z",
  "id": "AnNFRA7I2rcGOUxp",
  "name": "Error Logger",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -20,
        20
      ],
      "id": "a5078535-d7e3-46ba-b47f-120d4068f175",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "19KMjHng6KyVu5AUdOAUWs7necLn6ysQXZzHqSsS2Clo",
          "mode": "list",
          "cachedResultName": "Error Logger",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19KMjHng6KyVu5AUdOAUWs7necLn6ysQXZzHqSsS2Clo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pqsIwwXktJ7uVHKAr29NAuqpEvEWMFgQRFN4tUIwJy4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "execution",
              "displayName": "execution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "workflow",
              "displayName": "workflow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        320,
        -140
      ],
      "id": "36f546fb-8fb8-49d0-8bb5-29aeec2a0ee3",
      "name": "Log Error",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RGuqo5tt5vJQUa8L",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C092YENH3EE",
          "mode": "list",
          "cachedResultName": "all-zigron"
        },
        "text": "=Workflow Error: {{ $json.workflow.name }}\n\n{{ $json.execution.error.node.name }} errored at {{ $now.format('yyyy-MM-dd hh:mma') }}.\n\nThe error message was: {{ $json.execution.error.message }}\n\nSee this execution here: {{ $json.execution.url }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        320,
        200
      ],
      "id": "56e77b82-1146-4371-839a-76b65f112b19",
      "name": "Notification",
      "webhookId": "f7ea0908-8d52-4f41-863f-b2befd4991f8",
      "credentials": {
        "slackApi": {
          "id": "fG13Z6oyO7xfz1RY",
          "name": "Slack account"
        }
      }
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "8527c29c-bb07-4e72-8102-7a1067086585",
  "triggerCount": 0,
  "tags": []
}